
DATABASE_URL="postgres://postgres:1@host:5432/database"

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="Name <mail@example.com>"

NEXT_PUBLIC_BASE_URL="http://localhost:3000" # http or https is important